/* file: stylesheets/app/base.scss */

body {
  // background-color: #354759;
  background-color: #AFD8FF;
}

p {
  font-size: 1.25em;
  line-height: 1.5;
}

@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
