/* file: stylesheets/app/typography.scss */

.text-left   { text-align: left;   }
.text-center { text-align: center; }
.text-right  { text-align: right;  }

.tab-bar .title {
  font-family: 'Rock Salt', cursive;
}
