.row
  .columns.small-12
    .post{ class: "post-#{post['type']}" }
      .row
        .columns.small-12
          .header.header-skin
            %p= post['type'].capitalize
          .content.content-skin
            %p= date(post)
            %p= post['copy']
