.row
  .columns.small-12
    .row
      .columns.small-12
        .post.post-simple{ class: post['type'] }
          .header
            = header(post)
          .content
            = date(post)
            = content(post)
