.row
  .columns.small-12
    .row
      .columns.small-12
        .post{ class: "post-#{post['type']}" }
          .header
            %p= post['type'].capitalize
          .content
            = date(post)
            = content(post)
