.row
  .columns.small-12
    .post{ class: "post-#{post['type']}" }
      .row.collapse
        .columns.small-4
          = partial 'date_time',           locals: { post: post }
        .columns.small-8
          = partial 'content_with_header', locals: { post: post }
