.row
  .columns.small-12
    .post.post-game
      .row.collapse
        .columns.small-4
          = partial 'date_time',    locals: { post: post }
        .columns.small-8
          = partial 'content_game', locals: { post: post }
