.row
  .columns.small-12
    .content-with-header
      .row
        .columns.small-12
          .header
            %h3 Header
      .row
        .columns.small-12
          .content
            %h3 content
            %p= lorem.paragraph
