.date
  .row
    .columns.small-12
      .month
        %h3= DateTime.parse(post['date']).strftime('%^b')
  .row
    .columns.small-12
      .day
        %p= DateTime.parse(post['date']).strftime('%-d')
