.row
  .columns.small-12
    %h1 Date Template

.row
  .columns.small-3
    %p Feb
    %p 12
  .columns.small-9
    %p First Practice
    %p Practice will be on Wed 18 Feb.  Please have your children wear shin guards and cleats to practice.


.title.title-bar
  .row
    .columns.small-3
      %p Feb
    .columns.small-9
      %p First Practice

.content
  .row
    .columns.small-3
      %p 12
    .columns.small-9
      %p Practice will be on Wed 18 Feb.  Please have your children wear shin guards and cleats to practice.
