---
title: Dates
---

- dates = EssgeeSoccer::Post.where(type: 'date').order_by_date(:asc)

- if dates.empty?
  %p.text-center None.
- else
  - dates.each do |post|
    = partial 'post', locals: { post: post }
