---
title: Games
---

- games = EssgeeSoccer::Post.where(type: 'game').order_by_date(:asc)

- if games.empty?
  %p.text-center None.
- else
  - games.each do |post|
    = partial 'post', locals: { post: post }
