%content-with-header {
  border: 1px solid #aaa;

  h3, p { margin: 0; }

  %header, %content {
    padding: 0.5em;
  }

  %content {
    border-top: 1px solid #aaa;
  }
}

.content-with-header {
  @extend %content-with-header;
}

.header {
  @extend %header;
}

.content {
  @extend %content;
}
