.date {
  @extend %content-with-header !optional;

  h3, p {
    text-align: center;
    font-weight: bold;
  }

  .month {
    @extend %header !optional;
  }

  .day {
    @extend %content !optional;
    font-size: 1.5em;
  }
}
