.post {
  p {
    margin: 0;
  }

  margin-top: 1em;

  .header,
  .content {
    padding: 0.5em 1em;
    border:  1px solid #aaa;
  }

  .header {
    font-weight: bold;
  }

  .content {
  }

  span.post-date {
    font-family: 'Inconsolata';
    font-size:   1.25em;
  }

  span.time {
    margin-left: 0.5em;
  }
}
