.header {
  padding: 0.5em 1em;
  font-weight: bold;
}

.header-skin {
  border: 1px solid #aaa;
}


.content {
 padding: 0.5em 1em;
}

.content-skin {
  border: 1px solid #aaa;
}

.post {
  margin-top: 1em;
  span.post-date {
    font-family: 'Inconsolata';
    font-size: 1.25em;
  }
  span.time {
    margin-left: 0.5em;
  }
}
